#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  padding: 2rem;
  /* text-align: center; */
  /* display: grid;
  gap: 20px;
  grid-template-columns: 1fr 8.5in; */
  display: flex;
  gap: 20px;
}
