.resume-preview__container {
  border: solid 1px black;
  padding: 2.3rem;
  --section-border: solid black 2px;
  display: flex;
  flex-direction: column;
  flex: 0;
}

.section-header {
  border-bottom: var(--section-border);
}

.resume-head__wrapper {
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 1rem;
  /* border-bottom: var(--section-border); */
  padding-bottom: 1rem;
}

.resume-head__wrapper h2 {
  margin: 0;
}

.resume-head__wrapper p {
  padding: 0;
  margin: 0;
}

h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

.section__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.experience-header__wrapper {
  display: flex;
  justify-content: space-between;
  /* padding-bottom: 7px; */
}

.experience__container {
  padding-bottom: 1rem;
}

.date-location {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-weight: 500;
}

h5 {
  font-style: italic;
  /* font-weight: 400; */
}

.gpa-info {
  font-weight: 500;
}

.btn-toggle-form {
  background-color: white;
  display: flex;
  place-items: center;
}

ul {
  margin: 0;
  /* padding-left: 1.2rem; */
  text-wrap: wrap;
}
