.resume__container {
  display: flex;
  gap: 10px;
}

.resume__container button {
  /* PDF button*/
  align-self: flex-start;
  border: solid black 1px;
  width: 10rem;
  font-size: 1.3rem;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.resume-preview__wrapper {
  border: solid 1px black;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.resume-preview {
  width: 8.5in;
  min-height: 825px;
  padding: 2.3rem;
  --section-border: solid black 2px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.section-header {
  border-bottom: var(--section-border);
}

.resume-head__wrapper {
  justify-content: center;
  text-align: center;
  color: black;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.resume-head__wrapper h2 {
  margin: 0;
}

.resume-head__wrapper p {
  padding: 0;
  margin: 0;
}

h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

.section__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.experience-header__wrapper {
  display: flex;
  justify-content: space-between;
}

.experience__container {
  padding-bottom: 1rem;
}

.date-location {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-weight: 500;
}

h5 {
  font-style: italic;
}

.gpa-info {
  font-weight: 500;
}

.btn-toggle-form {
  background-color: white;
  display: flex;
  place-items: center;
}

ul {
  margin: 0;
  text-wrap: wrap;
}
